body {
  font-family: $font-family;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 72px;
  @include breakpoint(medium) {
    font-size: 50px;
  }
  @include breakpoint(small) {
    font-size: 40px;
  }
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  @include ease;
}

.section-title {
  text-align: center;
  margin-top: 20px;
  h2 {
    font-weight: bold;
  }
}
.title-button {
  text-align: center;
}
